<% provide(:title, "Hystory") %>
<h1>User ID: <%= current_user.id %></h1>
<h2>Balance: <%= current_user.balance %></h2>
<table border="1">
  <tr>
    <th>Direction</th>
    <th>User</th>
    <th>Amount</th>
    <th>Balance</th>
  </tr>
  <% @transfers.each do |transfer| %>
    <tr>
    <% hystory_row(transfer).each do |value| %>
      <td><%= value %></td>
    <% end %>
  </tr>
<% end %>
</table>

